<style is:inline>
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 20s linear infinite;
  }
</style>

<div class="flex gap-10 text-9xl opacity-25 overflow-hidden">
    <span class="whitespace-nowrap animate-scroll-left">
      Dive Deep into What You Love!
    </span>
    <span class="whitespace-nowrap animate-scroll-left">
      Dive Deep into What You Love!
    </span>
    <span class="whitespace-nowrap animate-scroll-left">
      Dive Deep into What You Love!
    </span>
    <span class="whitespace-nowrap animate-scroll-left">
      Dive Deep into What You Love!
    </span>
    <span class="whitespace-nowrap animate-scroll-left">
      Dive Deep into What You Love!
    </span>
</div>
