---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo.webp";
import Navigation from "./Navigation.astro";
---

<header class="fixed top-0 flex items-center justify-between w-full">
  <div class="bg-white px-8 py-4 rounded-br-3xl shadow-xl">
    <a class="flex items-center gap-2" href="/">
      <Image class="w-20 h-20" src={Logo} alt="Logo" />
      <h1 class="text-3xl font-bold">
        <span class="block text-sm font-normal"
          >愛知県立愛知総合工科高等学校</span
        >
        <span>STEM研究部</span>
      </h1>
    </a>
  </div>
  <Navigation class="mr-4" />
</header>
