---
import { cn } from "../lib";
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
}

interface Navigation {
  href: string;
  text: {
    ja: string;
    en: string;
  };
}

const { class: className } = Astro.props;

const currentPath = Astro.url.pathname;

const NAVIGATION_ITEMS: Navigation[] = [
  { href: "/", text: { ja: "ホーム", en: "Home" } },
  { href: "/about", text: { ja: "STEM研究部とは", en: "About" } },
  { href: "/activities", text: { ja: "活動内容", en: "Activities" } },
  { href: "/achievements", text: { ja: "大会実績", en: "Achievements" } },
];
---

<nav class={cn("flex gap-4 bg-white shadow-xl rounded-full p-2", className)}>
  <ul class="flex gap-2">
    {
      NAVIGATION_ITEMS.map((item) => {
        const isActive = currentPath === item.href;

        return (
          <li
            class={cn(
              "relative px-7 py-2 transition-colors duration-500 overflow-hidden z-10",
              "before:block before:w-full before:h-full before:rounded-full",
              "before:absolute before:top-0 before:left-0 before:-z-20",
              "before:bg-gradient-to-br before:from-gradient-from before:to-gradient-to",
              "after:block after:w-[120%] after:h-full after:bg-white",
              "after:-translate-x-[12%] after:transition-transform after:duration-500 after:ease-in-out",
              "after:absolute after:top-0 after:left-0 after:-z-10 after:-skew-x-12",
              "hover:text-white",
              "hover:after:translate-x-full",
              isActive && "text-white after:translate-x-full"
            )}
          >
            <a class="block text-lg font-bold leading-4" href={item.href}>
              {item.text.en}
              <span class="block text-sm font-normal">
                {item.text.ja}
              </span>
            </a>
          </li>
        );
      })
    }
  </ul>
  <div class="flex">
    <a
      class={cn(
        "flex items-center bg-orange-400 text-neutral-50 rounded-full px-6",
        "transition-all duration-500",
        "hover:brightness-90"
      )}
      href="https://aichi-te.aichi-c.ed.jp/"
      target="_blank"
    >
      学校公式サイト
      <Icon name="mdi:external-link" />
    </a>
  </div>
</nav>
